@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    background-color: rgb(62, 61, 61);
}

.header {
    width: max-content;
    background-color: rgb(28, 28, 28);
}
.btn {
    background-color: rgb(62, 61, 61);
    font-weight: blod;
    font-size: 15pt;
}

.men{
    background-color: rgb(62, 61, 61);
    font-size: 15pt;
}

.navbar-toggler{
    background-color: rgb(62, 61, 61);
}
.navbar {
    background-color: rgb(62, 61, 61);  
}
.btnSM :hover {
    color:black
}

.titleOne{
    font-size: 30pt;
    font-family: 'Dancing Script', cursive; 
    font-weight: 250px; 
    text-align: center;
}
.sbTitle{
    padding-left: 65vh;
    margin-top:3vh; 
    text-align: center; 
    font-size: 20pt;
}
.imgOne{
    width: 70vh; 
    margin-left: 20vh;
}
.textSM{
    width: 80vh; 
    margin-left: 75vh; 
    margin-top: 20vh; 
    height: 55vh;
}
.textWelcome{
  position: absolute;
}
.titleTwo{
    width: 80vh; 
    height: 15vh; 
    margin-left: 75vh; 
    text-align: center;
}
.titleTwo h5 {
    font-size: 40pt; 
    font-family: 'Dancing Script', cursive; 
    font-weight: 250px;
}

.titleP{
    padding-left: 3vh; 
    font-size: 40pt; 
    font-family: 'Dancing Script', cursive; 
    font-weight: 250px;
    width: 150vh; 
    margin-left: 20vh; 
    margin-top: 20vh;
}
.proyecP {
    height: 80vh;
}
.padreContac{
    margin-left: 20vh;
}
.contactame {
    margin-right: 50vh;
}
.contac{
    padding-right: 3vh;
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-size: 40pt; 
    font-family: 'Dancing Script', cursive; 
    font-weight: 250px;
    width: 155vh; 
    margin-left: 15vh; 
    margin-top: 20vh;
}

.iconI{
    color: rgb(189, 162, 197);
    font-size: 3rem;
    position:fixed;
    bottom:10px;
    right: 10px;  
}

.iconL{
    color: rgb(227, 216, 230);
    font-size: 3rem;
    position:fixed;
    bottom:10px;
    right: 10px;
    margin: 0 0 7vh 0;  
}
.tabla{
    background-color: rgb(103, 103, 103)!important;
 }
 
 

/*pantalla small*/
@media  (max-width:767px) {
    .textWelcome{
        position: relative;
      }
    .imgOne{
        margin-left: 30vh;
        width: 100vh;
    }
    .textSM{
        width: 100%;
        height: auto;
        margin-left: 10vh; 
        padding-right: 20vh;
        font-size: 30pt!important;
        text-align: center;
    }
    .titleTwo{ 
        margin-left: 50vh; 
        padding-top: 3vh;
    }
    .titleP{
        margin-left:0;
}
}
/*pantalla media*/
@media  (min-width:768px) and (max-width:1192px) {
    .imgOne{
        width: 50vh; 

    }

    .textSM{
        width: 50vh;
        height:auto;
        font-size: 13pt!important;
    }
    .titleTwo{
        font-size: 15pt!important;
        margin-left: 60vh; 
        text-align: center;
    }
    
   .tabla{
    width: 80%!important;
    font-size: 0.8em!important;
    background-color: #fcbbff!important;
  }
  .proyecP {
    margin-left: 20vh;
  }
  .padreContac{
    margin-right: 20vh;
  } 
  .titleP{
    width: 100vh;
  }
  .contac{
    width: 95vh;
  }
}

/*pantalla large*/
@media  screen and  (min-width:1193px) and (max-width:1400) {
}
/*